#feedbackForm .input-block {
    padding: 0.75rem;
    background-color: #ffff81;
    border-radius: 10px;
    box-shadow: 0 0 3px #cccccc;
    margin-bottom: 1rem;
}

#feedbackForm .input-block .checkbox-block {
    display: inline-flex;
}

#feedbackForm .input-block .checkbox-block div {
    margin-right: 10px;
}

#feedbackForm textarea {
    background-color: #ffff81;
}

