table td .vertical {
    text-align:center;
    white-space:nowrap;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
table td p {
    margin:0 -100%;
    margin-top: 200px;
    margin-bottom: 200px;
    display:inline-block;
}

table {
    text-align:center;
    table-layout:fixed;
    width:150px;
}