html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  color: white;
  background-color: #2c3e50;
}

table{
  margin-bottom: 0 !important;
}

td {
  text-align: center;
}

tr:first-child {
  padding-left: 10px !important;
}

tr:last-child{
  padding-right: 10px !important;
}

caption {
  caption-side: top !important;
  padding: 0 !important;
}

.main-label {
  padding-top: 1px;
  font-size: 20px;
}

header a:link {
  color: white;
}


/* Header */
header.page-header {
  position: relative;
  min-height: 20px;
  padding: 20px;
  background-color: #2c3e50;
  box-shadow: 0 0 5px 0 #333333;
  border-bottom: 1px solid #000934 !important;
}

header .btn {
  color: white !important;
  border-color: white !important;
}

div.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 90px;
  height: 90px;
  margin: 0;
}

nav.main-menu ul {
  margin: 0;
  margin-left: 130px;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 1em;
}

.main-menu a {
  color: white;
}

h1, h2, h5{
  margin: 0 !important;
  padding: 18px;
  text-align: center;
}

/* Main */
main {
  min-height: 200px;
  color: black;
  padding-top: 20px;
  background-color: white;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

main::after,
.slides::after {
  content: "";
  display: table;
  clear: both;
}

article.entry {
  margin: 0 60px 40px;
  background-color: rgba(241, 196, 15, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 3px #cccccc;
}

.entry::after {
  content: "";
  display: table;
  clear: both;
}

section.idea {
  float: left;
  width: 50%;
  height: auto;
  min-height: 100px;
  padding: 2%;
  background-color: rgba(243, 156, 18, 0.1);
  border-radius: 10px;
}

.idea > p {
  margin: 1em 0;
  font-size: 0.8em;
}

.idea > p:last-child {
  margin: 0;
}

.idea > h1 {
  margin: 0;
  font-size: 0.9em;
}

.car {
  height: 40px;
}

.cars{
  margin: 50px;
}

section.contacts {
  float: right;
  width: 50%;
  height: 100%;
  min-height: 100px;
  padding: 2%;
  background-color: rgba(243, 156, 18, 0.1);
  border-radius: 10px;
}

.contacts > p {
  margin: 1em 0;
  font-size: 0.8em;
}

.contacts > p:last-child {
  margin: 0;
}

.contacts > h1 {
  margin: 0;
  font-size: 0.9em;
}

aside.video-preview {
  float: right;
  width: 46%;
  margin: 0 0 1em 0.5em;
  padding: 0.3em 0.3em 0.65em;
  background-color: #ffffff;
  box-shadow: 0 0 5px 3px rgba(243, 156, 18, 0.2);
}

section.photos {
  min-height: 50px;
  
  margin: 20px 0;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px #cccccc;
}

.photos img {
  max-height: 200px;
}

figure.slides {
  margin: 0 20px;
  padding: 10px;
}

.slides > img {
  float: left;
  margin-right: 16px;
}

.slides > img:last-child {
  margin-right: 0;
}

/* Footer */
footer.page-footer {
  min-height: 50px;
  max-height: 70px;
  padding: 20px;
  font-size: 14px;
  color: black;
  background-color: #f1c40f;
  border-top: 1px solid #c7a500 !important;
  background-repeat: repeat-x;
  background-position: 0 0, 0 0, 0 100%, 0 100%;
  background-size: 12px 12px;
  box-shadow: 0 0 5px 0 #333333;
}

.podfooter {
  height: 25px;
  width: 100%;
  background-color: #2C3E50;
  box-shadow: 0 0 5px 0 #333333;
}

.page-footer::after {
  content: "";
  display: table;
  clear: both;
}

.form-signin {
  width: 100%;
  max-width: 620px;
  padding: 15px;
  margin: auto;
  margin-bottom: 50px;
}

.alert {
  max-width: 620px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-footer .info {
  float: left;
}

.page-footer .copyright {
  float: right;
  padding-top: 20px;
  font-size: 12px;
}

.popupimg {
  color: #0021ff !important;
}

.popupimg span {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: -2px 2px 10px -1px #333333;
  margin-left: 10px;
  padding-left: auto;
  padding-right: auto;
  position: absolute;
  visibility: hidden;
}

.popupimg:hover span{
  visibility: visible;
}
span img{
  margin: 10px;
  height: auto;
  width: 150px;
  border-radius: 0 !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.sign-in-btn {
  background-color: #F1C40F !important;
  border-color: #c7a500 !important;
}

.sign-in-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 170, 0, 0.5) !important;
  border-color: rgba(255, 196, 0, 0.75) !important;
}

.sign-in-btn:hover {
  color: #fff !important;
  background-color: #c7a500 !important;
  border-color: #c7a500 !important;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.sign-in-form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fffa5c !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(252, 255, 0, 0.5) !important;
}

.sign-in-form-control{
  background-color: #ffff81 !important;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

